<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="div1">
    <h3>COVID-19 Update:  We are shipping as usual, but please allow for an extra 4-6 days for fulfillment times.</h3>
</div>
<div class="div2">
    <h3 class="fake_login">$USD |  No Login for now :)</h3>
</div>

<div class="div3">
    <h1 class="website_title">SYDNEY BUT WHY</h1>
    <h3 class="posts_title">New posts never</h3>
    <img class="king_img" src="{{ url_for('static', filename='king.jpg')}}">
</div>
<div class="navbar">
    <a class="nav_link" href="{{url_for('index')}}">Home</a>
    <a class="nav_link" href="{{url_for('store')}}">Store</a>
    <a class="nav_link" href="{{url_for('blog')}}">Blog</a>
    <a class="nav_link" href="{{url_for('plush_toys')}}">Plush Toys</a>
    <a class="nav_link" href="{{url_for('posters')}}">Posters</a>
    <a class="nav_link" href="{{url_for('apparel')}}">Apparel</a>
    <a id="Cart" href="{{url_for('cart')}}">My Cart</a>
</div>

{% block content %}
{% endblock %}

</body>
<footer>
    <div class="footer_div">
        <h1 class="website_title_footer">SYDNEY BUT WHY</h1>
        <h3 class="posts_title_footer">New posts never</h3>
        <ul style="list-style: none;">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('store')}}">Store</a></li>
        <li><a href="{{url_for('blog')}}">Blog</a></li>
        <li><a href="{{url_for('plush_toys')}}">Plush Toys</a></li>
        <li><a href="{{url_for('posters')}}">Posters</a></li>
        <li><a href="{{url_for('apparel')}}">Apparel</a></li>
    </ul>

        <p>© 2022 Sydney But Why Store. </p>
    </div>
</footer>
</html>