{% extends 'base.html' %}

{% block content %}
<h1 class="main_title">Welcome to the Store!</h1>
<hr>
<div>
    <h1 class="store_title">Top Selling Plush Toys</h1>
    <div class="product_container">
    {% for plush in plushiez: %}
    <div class="product_card">
    <img class="product_img" src="{{ plushiez[plush]['img_url'] }}">
    <a class="pru" href="{{url_for('product', product_id=plush, product_type=plushies)}}"> {{ plushiez[plush]["product_title"] }}</a>
    <a class="pru" href="{{url_for('product', product_id=plush, product_type=plushies)}}"> {{ plushiez[plush]["product_price"] }} </a>
    </div>
    {% endfor %}
    </div>
</div>

<div>
    <hr>
    <h1 class="store_title">Top Selling Posters</h1>
    <div class="product_container">

    {% for poster in posterz: %}
    <div class="product_card">
    <img class="product_img" src="{{ posterz[poster]['img_url'] }}">
    <a class="pru" href="{{url_for('product', product_id=poster, product_type=posters)}}"> {{ posterz[poster]["product_title"] }}</a>
    <a class="pru" href="{{url_for('product', product_id=poster, product_type=posters)}}"> {{ posterz[poster]["product_price"] }} </a>
    </div>
    {% endfor %}
    </div>
</div>

    <hr>
    <h1 class="store_title">Top Selling Apparel</h1>
<div class="product_container">
    {% for apparel in apparelz: %}
    <div class="product_card">
    <img class="product_img" src="{{ apparelz[apparel]['img_url'] }}">
    <a class="pru" href="{{url_for('product', product_id=apparel, product_type=apparels)}}"> {{ apparelz[apparel]["product_title"] }}</a>
    <a class="pru" href="{{url_for('product', product_id=apparel, product_type=apparels)}}"> {{ apparelz[apparel]["product_price"] }} </a>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}